@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap');
body{
    font-family: 'Fira Sans', sans-serif;
}

.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    text-align: center;
}

.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 5s infinite alternate;
}

.hex-colors h2{
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes changecolor{
    0%{
        color: blue;
    }
    20%{
        color: green;
    }
    40%{
        color: yellow;
    }
    60%{
        color: orange;
    }
    80%{
        color: red;
    }
    100%{
        color: purple;
    }
}

@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}